<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sang.mapper.LineMapper">
    <update id="updateLine" parameterType="org.sang.bean.Line">
        UPDATE line SET startTime = #{startTime}, endTime = #{endTime} WHERE (lineName = #{lineName}) AND (origin = #{origin})
    </update>

    <select id="getLineByLineName" parameterType="String" resultType="org.sang.bean.Line">
        SELECT * FROM line WHERE lineName LIKE CONCAT(#{lineName},'%')
    </select>
</mapper>